.gameBoard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameBoard .actions {
  margin: 20px 0;
  display: flex; 
  flex-direction: row; 
  justify-content: center; 
  gap: 10px; 
}



